---
import Layout from '../layouts/Layout.astro';
import Dashboard from '@/components/Dashboard';
import WebBroswer from '@/components/WebBrowser';
---

<Layout title="Welcome to Astro.">
  <main class="h-screen w-full bg-slate-400 grid place-items-center">
    <div class="rounded-lg overflow-hidden">
      <WebBroswer className="">
        <Dashboard />
      </WebBroswer>
    </div>
  </main>
</Layout>
